{% extends 'base.html' %} {% block head %}
<title>Bandeja de Movimientos</title>
<style></style>
<script>
   $(document).on("click", "#submit", function () {
      $(this).prop("disabled", true);
   });

   function enableButton() {
      document.getElementById("pcDetalle").disabled = false;
      document.getElementById("pcEliminar").disabled = false;
   }

   function cargarSucursales() {
      $(".selectpicker").selectpicker();
      var pcFecha = document.getElementById("pcFecha");
      var d = new Date();
      var month = String(d.getMonth() + 1);
      if (month.length < 2) {
         month = "0" + month;
      }
      pcFecha.value = String(d.getFullYear()) + "-" + month + "-" + String(d.getDate());
      var pcSucursal = document.getElementById("pcSucursal");
      pcSucursal.innerHTML = "";
      $.post("/mantenimiento-sucursales/select-active").done(function (p_cResult) {
         var laJson = JSON.parse(p_cResult);
         if (laJson == null) {
            alert("NO HAY SUCURSALES REGISTRADAS");
         } else if (laJson.error) {
            alert(laJson.error);
         } else {
            for (var i = 0; i < laJson.length; i++) {
               var option = document.createElement("option");
               option.text = laJson[i].cdescri;
               option.value = laJson[i].ccodsuc;
               pcSucursal.add(option);
            }
            $("#pcSucursal").selectpicker("refresh");
         }
      });
      var pcProSele = document.getElementById("pcProSele");
      $.post("/mantenimiento-productos/select-active").done(function (p_cResult) {
         var laJson = JSON.parse(p_cResult);
         if (laJson == null) {
            alert("NO HAY PRODUCTOS REGISTRADAS");
         } else if (laJson.error) {
            alert(laJson.error);
         } else {
            for (var i = 0; i < laJson.length; i++) {
               var option = document.createElement("option");
               option.text = laJson[i].cdescri;
               option.value = laJson[i].ccodpro;
               pcProSele.add(option);
            }
            $("#pcProSele").selectpicker("refresh");
         }
      });
   }

   function registrarMovimiento() {
      rSucursal = document.getElementById("pcSucursal").value;
      rFecha = document.getElementById("pcFecha").value;
      rTipMov = document.getElementById("pcTipMov").value;
      rDescri = document.getElementById("pcDescri").value;
      rTabla = document.getElementById("pcProdList");
      let data = [...rTabla.rows].map((t) => [...t.children].map((u) => u.innerText));
      estaesunacadena = data.toString();
      if (rSucursal == "" || rTipMov == "" || rDescri.length < 5 || data.length == 1) {
         alert(
            `Verifique todo ha sido llenado/seleccionado y tenga en cuenta que la descrición del producto debe ser mayor a 5 caracteres.`
         );
      } else {
         $.post("/registrar-movimiento", {
            ccodsuc: rSucursal,
            dfecha: rFecha,
            ctipmov: rTipMov,
            cdescri: rDescri,
            produc: estaesunacadena,
         }).done(function (p_cResult) {
            var laJson = JSON.parse(p_cResult);
            if (laJson.error) {
               alert(laJson.error);
            }
         });
         window.location.replace("/bandeja-movimientos");
      }
   }

   function eliminarMovimiento() {
      pcMovimiento = document.querySelector('input[name = "pcMovimiento"]:checked').value;
      $.post("/eliminar-movimiento", { cidmovi: pcMovimiento }).done(function (p_cResult) {
         var laJson = JSON.parse(p_cResult);
         if (laJson.error) {
            alert(laJson.error);
         }
      });
      window.location.replace("/bandeja-movimientos");
   }

   function addRow() {
      var prodval = document.getElementById("pcProSele").value;
      var prodtxt = $("#pcProSele option:selected").text();
      var cant = document.getElementById("pcProCant");
      if (cant == "" || prodval == "") {
         alert("Agregue detalle del movimiento");
      } else {
         var table = document.getElementById("pcProdList");
         var row = table.insertRow(1);
         var cell1 = row.insertCell(0);
         var cell2 = row.insertCell(1);
         var cell3 = row.insertCell(-1);
         cell1.innerHTML = prodtxt;
         cell2.innerHTML = cant.value;
         cell3.innerHTML = prodval;
         cell3.style.display = "none";
         $("#pcProCant").attr("value", "");
      }
   }

   function verDetalles() {
      let vIdMovi = document.querySelector('input[name = "pcMovimiento"]:checked').value;
      $.post("/detalle-movimiento/select", { cidmovi: vIdMovi }).done(function (p_cResult) {
         var laJson = JSON.parse(p_cResult);
         if (laJson == null) {
            alert("NO HAY DETALLE REGISTRADO");
         } else if (laJson.error) {
            alert(laJson.error);
         } else {
            $("#pcProdListCont tr").remove();
            for (var i = 0; i < laJson.length; i++) {
               $("#pcProdList > tbody:last-child").append(
                  "<tr><td>" + laJson[i].cdescri + "</td><td>" + laJson[i].ncantid + "</td></tr>"
               );
            }
         }
      });
   }

   function onLoad(error) {
      if (error) {
         alert(error);
      }
   }
</script>
{% endblock%} {% block container %}
<body
   {%if
   error
   is
   defined
   and
   error
   is
   not
   none
   %}
   onload="onLoad('{{error}}')"
   {%
   endif
   %}
   class="h-100"
>
   <div class="container-fluid">
      <div class="alert alert-info mb-2 py-1" role="alert">
         Inventario - Bandeja de Movimientos
      </div>
      <div id="selection">
         <div class="card p-2 mx-auto text-center align-items-center">
            <br />
            <table id="productos" class="table table-sm table-hover text-center">
               <thead class="thead-light">
                  <tr>
                     <th scope="col">NRO. MOV.</th>
                     <th scope="col">SUCURSAL</th>
                     <th scope="col">FECHA</th>
                     <th scope="col">DESCRIPCIÓN</th>
                     <th scope="col">TIPO</th>
                     <th scope="col">
                        <img src="{{ url_for('static', filename='feather/check-square.svg') }}" />
                     </th>
                  </tr>
               </thead>
               <tbody id="table" class="text-16">
                  {% if movimientos is defined and movimientos|length %} {% for i in movimientos %}
                  <tr>
                     <td>{{i.cidmovi}}</td>
                     <td>{{i.ccodsuc}}</td>
                     <td>{{i.dfecha}}</td>
                     <td>{{i.cdescri}}</td>
                     <td>{{i.ctipmov}}</td>
                     <td>
                        <input
                           name="pcMovimiento"
                           id="pcMovimiento"
                           type="radio"
                           value="{{i.cidmovi}}"
                           onclick="enableButton()"
                        />
                     </td>
                  </tr>
                  {% endfor %} {% else %}
                  <tr>
                     <td colspan="7" class="text-center">
                        NO HAY MOVIMIENTOS REGISTRADOS
                     </td>
                  </tr>
                  {% endif %}
               </tbody>
            </table>
         </div>
      </div>
      <div class="card-footer text-muted align-items-center text-center mx-auto">
         <button
            type="button"
            class="btn btn-primary col-sm-2 col-md-2"
            data-toggle="modal"
            data-target="#modal_registrar"
            onclick="cargarSucursales()"
            formnovalidate
         >
            Registrar Movimiento
         </button>
         <button
            type="button"
            id="pcDetalle"
            data-toggle="modal"
            data-target="#modal_detalles"
            onclick="verDetalles()"
            class="btn btn-primary col-sm-2 col-md-2"
            disabled
         >
            Ver Detalles
         </button>
         <button
            type="button"
            id="pcEliminar"
            onclick="eliminarMovimiento()"
            class="btn btn-danger col-sm-2 col-md-2"
            disabled
         >
            Eliminar
         </button>
         <a href="/" class="btn btn-danger col-sm-2 col-md-2">
            Cancelar
         </a>
      </div>
      <!-- Modal para registrar movimientos -->
      <div id="modal_registrar" class="modal fade" role="dialog">
         <div class="modal-dialog modal-dialog-centered modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <div class="container-fluid">
                     <div class="row align-items-center">
                        <div class="col col-sm-10">
                           <h5 class="modal-title">
                              Registrar ingreso
                           </h5>
                        </div>
                        <div class="col col-sm-2">
                           <button type="button" class="close" data-dismiss="modal">
                              &times;
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="modal-body">
                  <div class="container-fluid">
                     <div class="input-group mb-3">
                        <div class="input-group-append">
                           <span class="input-group-text" id="basic-addon2">Sucursal</span>
                        </div>
                        <select
                           class="selectpicker"
                           id="pcSucursal"
                           name="pcSucursal"
                           data-live-search="true"
                           data-width="60%"
                           multiple
                           data-max-options="1"
                           title="Seleccione la sucursal"
                        >
                        </select>
                     </div>
                     <div class="input-group mb-3">
                        <div class="input-group-append">
                           <span class="input-group-text" id="basic-addon2">Fecha</span>
                        </div>
                        <input type="text" id="pcFecha" name="pcFecha" readonly />
                        <span class="input-group-text" id="basic-addon2">Tipo Mov.</span>
                        <select class="selectpicker" data-width="25%" name="pcTipMov" id="pcTipMov">
                           <option value="I">Ingreso</option>
                           <option value="S">Salida</option>
                        </select>
                     </div>
                     <div class="input-group mb-3">
                        <div class="input-group-append">
                           <span class="input-group-text" id="basic-addon2">Descripción</span>
                        </div>
                        <input type="text" id="pcDescri" name="pcDescri" />
                     </div>
                     <div class="input-group mb-3">
                        <h6>Productos:</h6>
                        <table id="pcProdList" class="table table-sm table-hover text-center">
                           <thead class="thead-light">
                              <tr>
                                 <th scope="col">Producto</th>
                                 <th scope="col">Cantidad</th>
                                 <th style="display: none;">CodProd</th>
                              </tr>
                           </thead>
                           <tbody id="pcProdListCont" class="text-16"></tbody>
                        </table>
                        <select
                           class="selectpicker"
                           id="pcProSele"
                           name="pcProSele"
                           data-live-search="true"
                           title="Seleccione el producto"
                        >
                        </select>
                        <input type="number" id="pcProCant" name="pcProCant" />
                        <button
                           type="button"
                           class="btn btn-primary col-sm-2 col-md-3"
                           onclick="addRow()"
                           formnovalidate
                        >
                           +
                        </button>
                     </div>
                  </div>
               </div>
               <div class="modal-footer">
                  <button
                     type="button"
                     class="btn btn-primary col-sm-2 col-md-3"
                     onclick="registrarMovimiento()"
                     formnovalidate
                  >
                     Agregar
                  </button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">
                     Cancelar
                  </button>
               </div>
            </div>
         </div>
      </div>
      <!-- Modal para ver detalle de movimientos -->
      <div id="modal_detalles" class="modal fade" role="dialog">
         <div class="modal-dialog modal-dialog-centered modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <div class="container-fluid">
                     <div class="row align-items-center">
                        <div class="col col-sm-10">
                           <h5 class="modal-title">
                              Detalle de movimiento
                           </h5>
                        </div>
                        <div class="col col-sm-2">
                           <button type="button" class="close" data-dismiss="modal">
                              &times;
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="modal-body">
                  <div class="container-fluid">
                     <div class="input-group mb-3">
                        <h6>Productos:</h6>
                        <table id="pcProdList" class="table table-sm table-hover text-center">
                           <thead class="thead-light">
                              <tr>
                                 <th scope="col">Producto</th>
                                 <th scope="col">Cantidad</th>
                              </tr>
                           </thead>
                           <tbody id="pcProdListCont" class="text-16"></tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <div class="modal-footer">
                  <button
                     type="button"
                     class="btn btn-primary col-sm-2 col-md-3"
                     onclick="registrarMovimiento()"
                     formnovalidate
                  >
                     Agregar
                  </button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">
                     Cancelar
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>

{% endblock%}
