{% extends 'base.html' %} {% block head %}
<title>Detalle de Stock</title>
<style></style>
<script>
   $(document).on("click", "#submit", function () {
      $(this).prop("disabled", true);
   });

   $(document).ready(function () {
      $(".selectpicker").selectpicker();
      var pcSucursal = document.getElementById("pcSucursal");
      pcSucursal.innerHTML = "";
      $.post("/mantenimiento-sucursales/select").done(function (p_cResult) {
         var laJson = JSON.parse(p_cResult);
         if (laJson == null) {
            alert("NO HAY SUCURSALES REGISTRADAS");
         } else if (laJson.ERROR) {
            alert(laJson.ERROR);
         } else {
            for (var i = 0; i < laJson.length; i++) {
               var option = document.createElement("option");
               option.text = laJson[i].cdescri;
               option.value = laJson[i].ccodsuc;
               pcSucursal.add(option);
            }
            $("#pcSucursal").selectpicker("refresh");
         }
      });
   });

   function enableButton() {
      document.getElementById("pcEditar").disabled = false;
      document.getElementById("pcEliminar").disabled = false;
   }

   function buscarStock() {
      sucursal = document.getElementById("pcSucursal").value;
      descri = document.getElementById("pcProducto").value;
      $("#pcReporteBody tr").remove();
      if (sucursal == "") {
         alert("Debe seleccionar la sucursal como mínimo");
      } else {
         $.post("/detalle-stock/search", { ccodsuc: sucursal, cdescri: descri }).done(function (
            p_cResult
         ) {
            var laJson = JSON.parse(p_cResult);
            if (laJson == null || laJson.length == 0) {
               alert("NO HAY ELEMENTOS QUE COINCIDEN CON LOS PARAMETROS DE BUSQUEDA");
            } else if (laJson.error) {
               alert(laJson.error);
            } else {
               for (var i = 0; i < laJson.length; i++) {
                  $("#pcReporte > tbody:last-child").append(
                     "<tr><td>" + laJson[i].cdescri + "</td><td>" + laJson[i].nstock + "</td></tr>"
                  );
               }
            }
         });
      }
   }

   function registrarMovimiento() {
      rSucursal = document.getElementById("pcSucursal").value;
      rFecha = document.getElementById("pcFecha").value;
      rTipMov = document.getElementById("pcTipMov").value;
      rDescri = document.getElementById("pcDescri").value;
      rTabla = document.getElementById("pcProdList");
      let data = [...rTabla.rows].map((t) => [...t.children].map((u) => u.innerText));
      estaesunacadena = data.toString();
      if (rSucursal == "" || rTipMov == "" || rDescri.length < 5 || data.length == 1) {
         alert(
            `Verifique todo ha sido llenado/seleccionado y tenga en cuenta que la descrición del producto debe ser mayor a 5 caracteres.`
         );
      } else {
         $.post("/registrar-movimiento", {
            ccodsuc: rSucursal,
            dfecha: rFecha,
            ctipmov: rTipMov,
            cdescri: rDescri,
            produc: estaesunacadena,
         }).done(function (p_cResult) {
            var laJson = JSON.parse(p_cResult);
            if (laJson.error) {
               alert(laJson.error);
            }
         });
         window.location.replace("/bandeja-movimientos");
      }
   }

   function eliminarMovimiento() {
      pcMovimiento = document.querySelector('input[name = "pcMovimiento"]:checked').value;
      $.post("/bandeja-movimientos/delete", { cidmovi: pcMovimiento }).done(function (p_cResult) {
         var laJson = JSON.parse(p_cResult);
         if (laJson.error) {
            alert(laJson.error);
         }
      });
      window.location.replace("/bandeja-movimientos");
   }

   function addRow() {
      var prodval = document.getElementById("pcProSele").value;
      var prodtxt = $("#pcProSele option:selected").text();
      var cant = document.getElementById("pcProCant");
      if (cant == "" || prodval == "") {
         alert("Agregue detalle del movimiento");
      } else {
         var table = document.getElementById("pcProdList");
         var row = table.insertRow(1);
         var cell1 = row.insertCell(0);
         var cell2 = row.insertCell(1);
         var cell3 = row.insertCell(-1);
         cell1.innerHTML = prodtxt;
         cell2.innerHTML = cant.value;
         cell3.innerHTML = prodval;
         cell3.style.display = "none";
         $("#pcProCant").attr("value", "");
      }
   }
</script>
{% endblock%} {% block container %}
<body class="h-100">
   <div class="container-fluid">
      <div class="alert alert-info mb-2 py-1" role="alert">
         Inventario - Reportes
      </div>
      <div id="selection">
         <div class="card p-2 mx-auto text-center align-items-center">
            <br />
            <div class="container">
               <div class="row mb-2">
                  <div class="col-6">
                     <select
                        class="selectpicker"
                        name="pcSucursal"
                        id="pcSucursal"
                        data-live-search="true"
                        title="Seleccione la sucursal"
                        data-width="80%"
                     >
                     </select>
                  </div>
                  <div class="col-5">
                     <input
                        type="text"
                        class="form-control"
                        id="pcProducto"
                        aria-describedby="busquedaProd"
                        placeholder="Ingrese al menos 3 letras del nombre del producto"
                     />
                  </div>
                  <div>
                     <button type="button" class="btn btn-primary" onclick="buscarStock()">
                        Buscar
                     </button>
                  </div>
               </div>
            </div>
            <table id="pcReporte" class="table table-sm table-hover text-center">
               <thead class="thead-light">
                  <tr>
                     <th scope="col">PRODUCTO</th>
                     <th scope="col">STOCK</th>
                  </tr>
               </thead>
               <tbody id="pcReporteBody" class="text-16">
                  {%if stock is not defined or stock is none %}
                  <tr>
                     <td colspan="7" class="text-center">
                        NO HAY STOCK REGISTRADO
                     </td>
                  </tr>
                  {% endif %}
               </tbody>
            </table>
         </div>
      </div>
      <div class="card-footer text-muted align-items-center text-center mx-auto">
         <a href="/" class="btn btn-danger col-sm-2 col-md-2">
            Cancelar
         </a>
      </div>
   </div>
</body>

{% endblock%}
