{% extends 'base.html' %} {% block head %}
<title>Menú Principal</title>
{% endblock%} {% block container %}
<div class="container-fluid">
   <div class="card text-center">
      <div class="row mb-2">
         <div class="col">
            <a href="/mantenimiento-sucursales" class="btn btn-primary"
               >Mantenimiento de Sucursales</a
            >
         </div>
      </div>
      <div class="row mb-2">
         <div class="col">
            <a href="/mantenimiento-productos" class="btn btn-primary"
               >Mantenimiento de Productos</a
            >
         </div>
      </div>
      <div class="row mb-2">
         <div class="col">
            <a href="/bandeja-movimientos" class="btn btn-primary">Bandeja de Movimientos</a>
         </div>
      </div>
      <div class="row mb-2">
         <div class="col">
            <a href="/detalle-stock" class="btn btn-primary">Reporte de inventario</a>
         </div>
      </div>
   </div>
</div>
{% endblock %}
