{% extends 'base.html' %} {% block head %}
<title>Mantenimiento de Sucursales</title>
<script>
   $(document).on("click", "#submit", function () {
      $(this).prop("disabled", true);
   });

   function enableButton() {
      document.getElementById("pcEditar").disabled = false;
      document.getElementById("pcEliminar").disabled = false;
   }

   function agregarSucursal() {
      aCodSuc = document.getElementById("codSucursal").value;
      aDescri = document.getElementById("sucDescri").value;
      if (aCodSuc.length != 3 || aDescri.length < 5) {
         alert(
            `El código de la sucursal debe ser de 3 caracteres, y la descripción debe ser de más de 5 caracteres.`
         );
      } else {
         $.post("/mantenimiento-sucursales/insert", { ccodsuc: aCodSuc, cdescri: aDescri }).done(
            function (p_cResult) {
               var laJson = JSON.parse(p_cResult);
               if (laJson.error) {
                  alert(laJson.error);
               }
            }
         );
         window.location.replace("/mantenimiento-sucursales");
      }
   }

   function editarSucursalPost() {
      aCodSuc = document.getElementById("sucCodEd").value;
      aDescri = document.getElementById("sucDescriEd").value;
      if (aCodSuc.length != 3 || aDescri.length < 5) {
         alert(
            `El código de la sucursal debe ser de 3 caracteres,
	           y la descripción debe ser de más de 5 caracteres.`
         );
      } else {
         $.post("/mantenimiento-sucursales/update", {
            ccodsuc: aCodSuc,
            cdescri: aDescri,
         }).done(function (p_cResult) {
            var laJson = JSON.parse(p_cResult);
            if (laJson.error) {
               alert(laJson.error);
            }
         });
         window.location.replace("/mantenimiento-sucursales");
      }
   }

   function cambiarEstadoSucursal() {
      eCodSuc = document.querySelector('input[name = "pcCodSuc"]:checked').value;
      $.post("/mantenimiento-sucursales/change-state", { ccodsuc: eCodSuc }).done(function (
         p_cResult
      ) {
         var laJson = JSON.parse(p_cResult);
         if (laJson.error) {
            alert(laJson.error);
         }
      });
      window.location.replace("/mantenimiento-sucursales");
   }

   function editarSucursales() {
      let oCodSuc = document.querySelector('input[name = "pcCodSuc"]:checked').value;
      let oTable = document.getElementById("sucursales");
      let data = [...oTable.rows].map((t) => [...t.children].map((u) => u.innerText));
      console.log(data);
      let ccoded, cDescri, cEstado;
      for (i = 0; i < data.length; i++) {
         if (data[i][0] == oCodSuc) {
            ccoded = data[i][0];
            cDescri = data[i][1];
         }
      }
      document.getElementById("sucCodEd").value = ccoded;
      document.getElementById("sucDescriEd").value = cDescri;
   }

   function onLoad(error) {
      if (error) {
         alert(error);
      }
   }
</script>
{% endblock%} {% block container %}
<body
   {%if
   error
   is
   defined
   and
   error
   is
   not
   none
   %}
   onload="onLoad('{{error}}')"
   {%
   endif
   %}
   class="h-100"
>
   <div id="header"></div>
   <div class="container-fluid">
      <div class="alert alert-info mb-2 py-1" role="alert">
         Inventario - Mantenimiento Sucursales
      </div>
      <div id="selection">
         <div class="card p-2 mx-auto text-center align-items-center">
            <br />
            <table id="sucursales" class="table table-sm table-hover text-center">
               <thead class="thead-light">
                  <tr>
                     <th scope="col">CÓDIGO</th>
                     <th scope="col">DESCRIPCIÓN</th>
                     <th scope="col">ESTADO</th>
                     <th scope="col">
                        <img src="{{ url_for('static', filename='feather/check-square.svg') }}" />
                     </th>
                  </tr>
               </thead>
               <tbody id="table" class="text-16">
                  {% if sucursales is defined and sucursales|length %} {% for i in sucursales %}
                  <tr>
                     <td>{{i.ccodsuc}}</td>
                     <td>{{i.cdescri}}</td>
                     <td>{{i.cestado}}</td>
                     <td>
                        <input
                           name="pcCodSuc"
                           id="pcCodSuc"
                           type="radio"
                           value="{{i.ccodsuc}}"
                           onclick="enableButton()"
                        />
                     </td>
                  </tr>
                  {% endfor %} {% else %}
                  <tr>
                     <td colspan="7" class="text-center">
                        NO HAY SUCURSALES REGISTRADAS
                     </td>
                  </tr>
                  {% endif %}
               </tbody>
            </table>
         </div>
      </div>
      <div class="card-footer text-muted align-items-center text-center mx-auto">
         <button
            type="button"
            class="btn btn-primary col-sm-2 col-md-2"
            data-toggle="modal"
            data-target="#modal_agregar"
            formnovalidate
         >
            Agregar
         </button>
         <button
            type="button"
            id="pcEditar"
            class="btn btn-primary col-sm-2 col-md-2"
            data-toggle="modal"
            data-target="#modal_editar"
            onclick="editarSucursales()"
            disabled
         >
            Editar
         </button>
         <button
            type="button"
            id="pcEliminar"
            onclick="cambiarEstadoSucursal()"
            class="btn btn-danger col-sm-2 col-md-2"
            disabled
         >
            Activar / Desactivar
         </button>
         <a href="/" class="btn btn-danger col-sm-2 col-md-2">
            Cancelar
         </a>
      </div>
      <!-- Modal para agregar sucursales -->
      <div id="modal_agregar" class="modal fade" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <div class="container-fluid">
                     <div class="row align-items-center">
                        <div class="col col-sm-10">
                           <h5 class="modal-title">
                              Agregar sucursales
                           </h5>
                        </div>
                        <div class="col col-sm-2">
                           <button type="button" class="close" data-dismiss="modal">
                              &times;
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="modal-body">
                  <div class="container-fluid">
                     <div class="row">
                        <div class="col">
                           <div class="input-group mb-3">
                              <div class="input-group-append">
                                 <span class="input-group-text" id="basic-addon2">Código</span>
                              </div>
                              <input
                                 type="text"
                                 name="codSucursal"
                                 id="codSucursal"
                                 class="form-control"
                                 placeholder="Código de la sucursal"
                                 aria-label="Código de la sucursal"
                                 aria-describedby="basic-addon2"
                              />
                           </div>
                           <div class="input-group mb-3">
                              <div class="input-group-append">
                                 <span class="input-group-text" id="basic-addon2">Descripción</span>
                              </div>
                              <input
                                 type="text"
                                 name="sucDescri"
                                 id="sucDescri"
                                 class="form-control"
                                 placeholder="Descripción de la sucursal"
                                 aria-label="Descripción de la sucursal"
                                 aria-describedby="basic-addon2"
                              />
                           </div>
                        </div>
                     </div>
                     <div class="row"></div>
                     <div class="row"></div>
                  </div>
               </div>
               <div class="modal-footer">
                  <button
                     type="button"
                     class="btn btn-primary col-sm-2 col-md-3"
                     onclick="agregarSucursal()"
                     formnovalidate
                  >
                     Agregar
                  </button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">
                     Cancelar
                  </button>
               </div>
            </div>
         </div>
      </div>
      <!-- Modal para editar sucursales -->
      <div id="modal_editar" class="modal fade" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <div class="container-fluid">
                     <div class="row align-items-center">
                        <div class="col col-sm-10">
                           <h5 class="modal-title">
                              Editar sucursales
                           </h5>
                        </div>
                        <div class="col col-sm-2">
                           <button type="button" class="close" data-dismiss="modal">
                              &times;
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="modal-body">
                  <div class="container-fluid">
                     <div class="row">
                        <div class="col">
                           <div class="input-group mb-3">
                              <div class="input-group-append">
                                 <span class="input-group-text" id="basic-addon2">Código</span>
                              </div>
                              <input
                                 type="text"
                                 name="sucCodEd"
                                 id="sucCodEd"
                                 class="form-control"
                                 placeholder="Código de la sucursal"
                                 aria-label="Código de la sucursal"
                                 aria-describedby="basic-addon2"
                                 minlength="1"
                                 readonly
                              />
                           </div>
                           <div class="input-group mb-3">
                              <div class="input-group-append">
                                 <span class="input-group-text" id="basic-addon2">Descripción</span>
                              </div>
                              <input
                                 type="text"
                                 name="sucDescriEd"
                                 id="sucDescriEd"
                                 class="form-control"
                                 placeholder="Descripción de la sucursal"
                                 aria-label="Descripción de la sucursal"
                                 aria-describedby="basic-addon2"
                                 minlength="10"
                              />
                           </div>
                        </div>
                     </div>
                     <div class="row"></div>
                     <div class="row"></div>
                  </div>
               </div>
               <div class="modal-footer">
                  <button
                     type="submit"
                     class="btn btn-primary col-sm-2 col-md-3"
                     onclick="editarSucursalPost()"
                     formnovalidate
                  >
                     Aceptar
                  </button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">
                     Cancelar
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>

{% endblock%}
