{% extends 'base.html' %} {% block head %}
<title>Mantenimiento de Productos</title>
<script>
   $(document).on("click", "#submit", function () {
      $(this).prop("disabled", true);
   });

   function enableButton() {
      document.getElementById("pcEditar").disabled = false;
      document.getElementById("pcEliminar").disabled = false;
   }

   async function agregarProducto() {
      aCodPro = document.getElementById("codProd").value;
      aProdDescri = document.getElementById("prodDescri").value;
      aProdUni = document.getElementById("prodUni").value;
      if (aCodPro.length != 8 || aProdDescri.length < 5 || aProdUni.length > 3) {
         alert(
            `El código del producto debe ser de 8 caracteres, la descripción debe tener al menos 5 caracteres, y las unidades en que se mide el producto deben representarse en máximo 3 caracteres.`
         );
      } else {
         await $.post("/mantenimiento-productos/insert", {
            ccodpro: aCodPro,
            cdescri: aProdDescri,
            cunidad: aProdUni,
         }).done(function (p_cResult) {
            var laJson = JSON.parse(p_cResult);
            if (laJson.error) {
               alert(laJson.error);
            }
         });
         window.location.replace("/mantenimiento-productos");
      }
   }

   function editarProductoPost() {
      aCodPro = document.getElementById("proCodEd").value;
      aProdDescri = document.getElementById("proDescriEd").value;
      aProdUni = document.getElementById("proUniEd").value;
      if (aCodPro.length != 8 || aProdDescri.length < 5 || aProdUni.length > 3) {
         alert(
            `El código del producto debe ser de 8 caracteres, la descripción debe tener al menos 5 caracteres, y las unidades en que se mide el producto deben representarse en máximo 3 caracteres.`
         );
      } else {
         $.post("/mantenimiento-productos/update", {
            ccodpro: aCodPro,
            cdescri: aProdDescri,
            cunidad: aProdUni,
         }).done(function (p_cResult) {
            var laJson = JSON.parse(p_cResult);
            if (laJson.error) {
               alert(laJson.error);
            }
         });
         window.location.replace("/mantenimiento-productos");
      }
   }

   function cambiarEstadoProducto() {
      eCodPro = document.querySelector('input[name = "pcCodPro"]:checked').value;
      $.post("/mantenimiento-productos/change-state", { ccodpro: eCodPro }).done(function (
         p_cResult
      ) {
         var laJson = JSON.parse(p_cResult);
         if (laJson.error) {
            alert(laJson.error);
         }
      });
      window.location.replace("/mantenimiento-productos");
   }

   function editarProducto() {
      let oCodPro = document.querySelector('input[name = "pcCodPro"]:checked').value;
      let oTable = document.getElementById("productos");
      let data = [...oTable.rows].map((t) => [...t.children].map((u) => u.innerText));
      let ccoded, cDescri, cUni;
      for (i = 0; i < data.length; i++) {
         if (data[i][0] == oCodPro) {
            ccoded = data[i][0];
            cDescri = data[i][1];
            cUni = data[i][2];
         }
      }
      document.getElementById("proCodEd").value = ccoded;
      document.getElementById("proDescriEd").value = cDescri;
      document.getElementById("proUniEd").value = cUni;
   }

   function onLoad(error) {
      if (error) {
         alert(error);
      }
   }
</script>
{% endblock%} {% block container %}
<body
   {%if
   error
   is
   defined
   and
   error
   is
   not
   none
   %}
   onload="onLoad('{{error}}')"
   {%
   endif
   %}
   class="h-100"
>
   <div id="header"></div>
   <div class="container-fluid">
      <div class="alert alert-info mb-2 py-1" role="alert">
         Inventario - Mantenimiento de Productos
      </div>
      <div id="selection">
         <div class="card p-2 mx-auto text-center align-items-center">
            <br />
            <table id="productos" class="table table-sm table-hover text-center">
               <thead class="thead-light">
                  <tr>
                     <th scope="col">CÓDIGO</th>
                     <th scope="col">DESCRIPCIÓN</th>
                     <th scope="col">UNIDAD</th>
                     <th scope="col">ESTADO</th>
                     <th scope="col">
                        <img src="{{ url_for('static', filename='feather/check-square.svg') }}" />
                     </th>
                  </tr>
               </thead>
               <tbody id="table" class="text-16">
                  {% if productos is defined and productos|length %}{% for i in productos %}
                  <tr>
                     <td>{{i.ccodpro}}</td>
                     <td>{{i.cdescri}}</td>
                     <td>{{i.cunidad}}</td>
                     <td>{{i.cestado}}</td>
                     <td>
                        <input
                           name="pcCodPro"
                           id="pcCodPro"
                           type="radio"
                           value="{{i.ccodpro}}"
                           onclick="enableButton()"
                        />
                     </td>
                  </tr>
                  {% endfor %} {% else %}
                  <tr>
                     <td colspan="7" class="text-center">
                        NO HAY PRODUCTOS REGISTRADOS
                     </td>
                  </tr>
                  {% endif %}
               </tbody>
            </table>
         </div>
      </div>
      <div class="card-footer text-muted align-items-center text-center mx-auto">
         <button
            type="button"
            class="btn btn-primary col-sm-2 col-md-2"
            data-toggle="modal"
            data-target="#modal_agregar"
            formnovalidate
         >
            Agregar
         </button>
         <button
            type="button"
            id="pcEditar"
            class="btn btn-primary col-sm-2 col-md-2"
            data-toggle="modal"
            data-target="#modal_editar"
            onclick="editarProducto()"
            disabled
         >
            Editar
         </button>
         <button
            type="button"
            id="pcEliminar"
            onclick="cambiarEstadoProducto()"
            class="btn btn-danger col-sm-2 col-md-2"
            disabled
         >
            Activar / Desactivar
         </button>
         <a href="/" class="btn btn-danger col-sm-2 col-md-2">
            Cancelar
         </a>
      </div>
      <!-- Modal para agregar productos -->
      <div id="modal_agregar" class="modal fade" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <div class="container-fluid">
                     <div class="row align-items-center">
                        <div class="col col-sm-10">
                           <h5 class="modal-title">
                              Agregar producto
                           </h5>
                        </div>
                        <div class="col col-sm-2">
                           <button type="button" class="close" data-dismiss="modal">
                              &times;
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="modal-body">
                  <div class="container-fluid">
                     <div class="row">
                        <div class="col">
                           <div class="input-group mb-3">
                              <div class="input-group-append">
                                 <span class="input-group-text" id="basic-addon2">Código</span>
                              </div>
                              <input
                                 type="text"
                                 name="codProd"
                                 id="codProd"
                                 class="form-control"
                                 placeholder="Código del producto"
                                 aria-label="Código del producto"
                                 aria-describedby="basic-addon2"
                              />
                           </div>
                           <div class="input-group mb-3">
                              <div class="input-group-append">
                                 <span class="input-group-text" id="basic-addon2">Descripción</span>
                              </div>
                              <input
                                 type="text"
                                 name="prodDescri"
                                 id="prodDescri"
                                 class="form-control"
                                 placeholder="Descripción del producto"
                                 aria-label="Descripción del producto"
                                 aria-describedby="basic-addon2"
                              />
                           </div>
                           <div class="input-group mb-3">
                              <div class="input-group-append">
                                 <span class="input-group-text" id="basic-addon2">Unidad</span>
                              </div>
                              <input
                                 type="text"
                                 name="prodUni"
                                 id="prodUni"
                                 class="form-control"
                                 placeholder="Unidad en que se mide el producto"
                                 aria-label="Unidad en que se mide el producto"
                                 aria-describedby="basic-addon2"
                              />
                           </div>
                        </div>
                     </div>
                     <div class="row"></div>
                     <div class="row"></div>
                  </div>
               </div>
               <div class="modal-footer">
                  <button
                     type="button"
                     class="btn btn-primary col-sm-2 col-md-3"
                     onclick="agregarProducto()"
                     formnovalidate
                  >
                     Agregar
                  </button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">
                     Cancelar
                  </button>
               </div>
            </div>
         </div>
      </div>
      <!-- Modal para editar productos -->
      <div id="modal_editar" class="modal fade" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <div class="container-fluid">
                     <div class="row align-items-center">
                        <div class="col col-sm-10">
                           <h5 class="modal-title">
                              Editar productos
                           </h5>
                        </div>
                        <div class="col col-sm-2">
                           <button type="button" class="close" data-dismiss="modal">
                              &times;
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="modal-body">
                  <div class="container-fluid">
                     <div class="row">
                        <div class="col">
                           <div class="input-group mb-3">
                              <div class="input-group-append">
                                 <span class="input-group-text" id="basic-addon2">Código</span>
                              </div>
                              <input
                                 type="text"
                                 name="proCodEd"
                                 id="proCodEd"
                                 class="form-control"
                                 placeholder="Código del producto"
                                 aria-label="Código del producto"
                                 aria-describedby="basic-addon2"
                                 minlength="8"
                                 readonly
                              />
                           </div>
                           <div class="input-group mb-3">
                              <div class="input-group-append">
                                 <span class="input-group-text" id="basic-addon2">Descripción</span>
                              </div>
                              <input
                                 type="text"
                                 name="proDescriEd"
                                 id="proDescriEd"
                                 class="form-control"
                                 placeholder="Descripción del producto"
                                 aria-label="Descripción del producto"
                                 aria-describedby="basic-addon2"
                                 minlength="5"
                              />
                           </div>
                           <div class="input-group mb-3">
                              <div class="input-group-append">
                                 <span class="input-group-text" id="basic-addon2">Unidad</span>
                              </div>
                              <input
                                 type="text"
                                 name="proUniEd"
                                 id="proUniEd"
                                 class="form-control"
                                 placeholder="Unidad en que se mide el producto"
                                 aria-label="Unidad en que se mide el producto"
                                 aria-describedby="basic-addon2"
                                 minlength="1"
                                 maxlength="3"
                              />
                           </div>
                        </div>
                     </div>
                     <div class="row"></div>
                     <div class="row"></div>
                  </div>
               </div>
               <div class="modal-footer">
                  <button
                     type="button"
                     class="btn btn-primary col-sm-2 col-md-3"
                     onclick="editarProductoPost()"
                  >
                     Aceptar
                  </button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">
                     Cancelar
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>

{% endblock%}
